@font-face {
    font-family: "San-Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html {
    font-family: "San-Francisco";
    height: 100%;
    color: #e4e4e4;
    padding: 50px;
}

header {
    padding: 20px;
    text-align: center;
}

body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width:fit-content;
    border: solid 1px #777;
    background-color: #555;
    border-radius: 10px;
    padding: 25px 10px;
    box-shadow: 1px 2px 5px #111;
}

h1 {
    font-weight: 560;
    font-size: 2rem;
}

.notes_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note_input {
    display: flex;
    justify-content: space-between;
}

.notes_display {
    width: 300px;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #e4e4e4;
    border-radius: 3px;
    background-color:#777;
    overflow: auto;
}

button {
    border-radius: 2px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #333;
    color: #e4e4e4;
}